* {
  margin: 0;
  padding: 0;
}

#simbolo {
  font-size: large;
  font-weight: bold;
}

#simbolo-s {
  font-size: 12px;
  font-weight: bold;
}

#nome {
  font-size: 9px;
}

#numero_atomico {
  font-size: 12px;
  text-align: left;
}

#espaco {
  padding: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.container {
  height: 80%;
  width: 80%;
}

.metais_alcalinos {
  padding: 1rem;
  text-align: center;
  background-color: red;
}

.metais_alcalinoterrosos {
  padding: 1rem;
  text-align: center;
  background-color: olive;
}

.metais_transicao {
  padding: 1rem;
  text-align: center;
  background-color: yellowgreen;
}

.metais_pos-transicao {
  padding: 1rem;
  text-align: center;
  background-color: blueviolet;
}

.semimetais {
  padding: 1rem;
  text-align: center;
  background-color: yellow;
}

.nao-metais_poliatomicos {
  padding: 1rem;
  text-align: center;
  background-color: green;
}

.nao-metais_diatomicos {
  padding: 1rem;
  text-align: center;
  background-color: orange;
}

.gases_nobres {
  padding: 1rem;
  text-align: center;
  background-color: magenta;
}

.propr_desconhecidas {
  padding: 1rem;
  text-align: center;
  background-color: grey;
}

.lantanideos {
  padding: 1rem;
  text-align: center;
  background-color: blue;
  font-size: small;
}

.actinideos {
  padding: 1rem;
  text-align: center;
  background-color: aqua;
  font-size: small;
}

td {
  border: 0.5rem;
  padding: 1.5rem;
}